In [3]:
import pandas as pd

In [4]:
titanic_df = pd.read_csv(r'train.csv')
titanic_df['Family Size'] = titanic_df['SibSp'] +titanic_df['Parch'] + 1

In [5]:
def format_percent(value):
    return '{:,.1f}'.format(value * 100)


group = titanic_df[['Sex','Survived']].groupby(['Sex'], as_index = False).mean()
group['Survived'] = group['Survived'].map(format_percent)
tabulated = group.rename(columns={'Sex': 'Sex','Survived': '% Survived'})
tabulated.style.hide_index()

/tmp/ipykernel_38646/3680613657.py:8: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  tabulated.style.hide_index()