In [1]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.4-py3-none-any.whl (15.1 MB)
     |████████████████████████████████| 15.1 MB 6.6 MB/s eta 0:00:01    |███████▏                        | 3.4 MB 2.4 MB/s eta 0:00:05
Requirement already satisfied: scipy>=1.3.2 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from sweetviz) (1.7.3)
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-5.10.0-py3-none-any.whl (34 kB)
Requirement already satisfied: jinja2>=2.11.1 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from sweetviz) (2.11.3)
Requirement already satisfied: matplotlib>=3.1.3 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from sweetviz) (3.5.1)
Requirement already satisfied: numpy>=1.16.0 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from sweetviz) (1.21.5)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from sweetviz) (1.4.2)
Requirement already satisfied: tqdm>=4.43.0 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from sweetviz) (4.64.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from importlib-resources>=1.2.0->sweetviz) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (9.0.1)
Requirement already satisfied: cycler>=0.10 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.2)
Requirement already satisfied: packaging>=20.0 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.1.3->sweetviz) (21.3)
Requirement already satisfied: pytz>=2020.1 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/mcampos/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-5.10.0 sweetviz-2.1.4

In [1]:
import pandas as pd
import sweetviz

In [2]:
titanic = pd.read_csv('train.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
import sweetviz
my_report = sweetviz.analyze(titanic)
my_report.show_html()

                                             |      | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.