In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import pandas as pd

In [3]:
titanic_df = pd.read_csv(r'train.csv')
titanic_df['Family Size'] = titanic_df['SibSp'] +titanic_df['Parch'] + 1

In [4]:
def format_percent(value):
    return '{:,.1f}'.format(value * 100)


group = titanic_df[['Sex','Survived']].groupby(['Sex'], as_index = False).mean()
group['Survived'] = group['Survived'].map(format_percent)
tabulated = group.rename(columns={'Sex': 'Sex','Survived': '% Survived'})
tabulated.style.hide_index()